.elementor-11630 .elementor-element.elementor-element-733fed2 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-11630 .elementor-element.elementor-element-67faef2 .elementor-heading-title{color:var( --e-global-color-text );font-family:"Big John", Sans-serif;font-weight:normal;}.elementor-11630 .elementor-element.elementor-element-8cdd2ed{font-family:"Roboto", Sans-serif;font-size:17px;font-weight:400;}.elementor-11630 .elementor-element.elementor-element-a9828ce .elementor-spacer-inner{--spacer-size:20px;}.elementor-11630 .elementor-element.elementor-element-2b88d13 .elementor-heading-title{color:var( --e-global-color-text );font-family:"Big John", Sans-serif;font-weight:normal;}.elementor-11630 .elementor-element.elementor-element-f0c3b7d{color:#272727;font-family:"Roboto", Sans-serif;font-size:17px;font-weight:400;}.elementor-11630 .elementor-element.elementor-element-47e64c3 .elementor-spacer-inner{--spacer-size:20px;}.elementor-11630 .elementor-element.elementor-element-03cbb12 .elementor-heading-title{color:var( --e-global-color-text );font-family:"Big John", Sans-serif;font-weight:normal;}.elementor-11630 .elementor-element.elementor-element-e0c7df3{font-family:"Roboto", Sans-serif;font-size:17px;font-weight:400;}/* Start custom CSS for heading, class: .elementor-element-67faef2 */.elementor-11630 .elementor-element.elementor-element-67faef2:hover {
    color: #ea5b0c;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-a47d303 */.link_mega_menu:hover {
    color: #ea5b0c;
}

.elementor-11630 .elementor-element.elementor-element-a47d303 h6:hover {
    color: #ea5b0c !important;
}/* End custom CSS */
/* Start custom CSS */.badge {
    position: absolute;
    margin-left: 5px;
	background-color: #ea5b0c;
	font-size: 11px;
	color: #fff;
    padding-left: 5px;
    padding-right: 5px;
	border-radius: 5px;
	display: inline-block;
}/* End custom CSS */