.elementor-795 .elementor-element.elementor-element-16e70e0:not(.elementor-motion-effects-element-type-background), .elementor-795 .elementor-element.elementor-element-16e70e0 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-text );}.elementor-795 .elementor-element.elementor-element-16e70e0{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-250px;margin-bottom:0px;padding:300px 0px 150px 0px;}.elementor-795 .elementor-element.elementor-element-16e70e0 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-795 .elementor-element.elementor-element-16e70e0 > .elementor-shape-bottom svg{height:100px;transform:translateX(-50%) rotateY(180deg);}.elementor-795 .elementor-element.elementor-element-e1d0714 > .elementor-element-populated{box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);margin:0px 10px 0px 0px;--e-column-margin-right:10px;--e-column-margin-left:0px;}.elementor-795 .elementor-element.elementor-element-e1d0714 > .elementor-element-populated > .elementor-widget-wrap{padding:20px 20px 20px 20px;}.woocommerce .elementor-795 .elementor-element.elementor-element-52dbdc7 .flex-control-thumbs li{padding-right:calc(0px / 2);padding-left:calc(0px / 2);padding-bottom:0px;}.woocommerce .elementor-795 .elementor-element.elementor-element-52dbdc7 .flex-control-thumbs{margin-right:calc(-0px / 2);margin-left:calc(-0px / 2);}.elementor-795 .elementor-element.elementor-element-bfe1cbe > .elementor-element-populated{box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);margin:0px 0px 0px 10px;--e-column-margin-right:0px;--e-column-margin-left:10px;}.elementor-795 .elementor-element.elementor-element-bfe1cbe .elementor-element-populated a{color:#FFFFFF;}.elementor-795 .elementor-element.elementor-element-bfe1cbe > .elementor-element-populated > .elementor-widget-wrap{padding:20px 20px 20px 20px;}.elementor-795 .elementor-element.elementor-element-dc84e3c{color:var( --e-global-color-secondary );font-family:"Roboto", Sans-serif;font-size:15px;}.elementor-795 .elementor-element.elementor-element-dc84e3c > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-36e089a{color:var( --e-global-color-primary );font-family:"Big John", Sans-serif;font-size:30px;font-weight:normal;}.elementor-795 .elementor-element.elementor-element-36e089a > .elementor-widget-container{margin:-15px 0px -15px 0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-8c5c318{text-align:justify;}.woocommerce .elementor-795 .elementor-element.elementor-element-8c5c318 .woocommerce-product-details__short-description{color:var( --e-global-color-secondary );}.elementor-795 .elementor-element.elementor-element-8c5c318 > .elementor-widget-container{margin:0px 0px -25px 0px;}.elementor-795 .elementor-element.elementor-element-5421451 > .elementor-widget-container{margin:10px 0px -25px 0px;}.elementor-795 .elementor-element.elementor-element-a3d5a50 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-c46f214:not(.elementor-motion-effects-element-type-background), .elementor-795 .elementor-element.elementor-element-c46f214 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}.elementor-795 .elementor-element.elementor-element-c46f214{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:5px 0px 5px 0px;}.elementor-795 .elementor-element.elementor-element-c46f214 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-795 .elementor-element.elementor-element-e3debaa > .elementor-element-populated{box-shadow:0px 0px 10px 2px rgba(39, 39, 39, 0.3);margin:50px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-795 .elementor-element.elementor-element-e3debaa > .elementor-element-populated > .elementor-widget-wrap{padding:10px 10px 10px 10px;}.elementor-795 .elementor-element.elementor-element-8b2128c .elementor-heading-title{font-weight:normal;}.elementor-795 .elementor-element.elementor-element-11d55dc .elementor-spacer-inner{--spacer-size:10px;}.elementor-795 .elementor-element.elementor-element-fbc803e > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-4b188c0:not(.elementor-motion-effects-element-type-background), .elementor-795 .elementor-element.elementor-element-4b188c0 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}.elementor-795 .elementor-element.elementor-element-4b188c0{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:5px 0px 5px 0px;}.elementor-795 .elementor-element.elementor-element-4b188c0 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-795 .elementor-element.elementor-element-c442f71 > .elementor-element-populated{box-shadow:0px 0px 10px 2px rgba(39, 39, 39, 0.3);margin:50px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-795 .elementor-element.elementor-element-c442f71 > .elementor-element-populated > .elementor-widget-wrap{padding:10px 10px 10px 10px;}.elementor-795 .elementor-element.elementor-element-4291aa0 .elementor-heading-title{font-weight:normal;}.elementor-795 .elementor-element.elementor-element-3f2b5bb > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-27e5804 .elementor-spacer-inner{--spacer-size:25px;}.elementor-795 .elementor-element.elementor-element-e3707c1:not(.elementor-motion-effects-element-type-background), .elementor-795 .elementor-element.elementor-element-e3707c1 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}.elementor-795 .elementor-element.elementor-element-e3707c1{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:5px 0px 120px 0px;}.elementor-795 .elementor-element.elementor-element-e3707c1 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-795 .elementor-element.elementor-element-e3707c1 > .elementor-shape-bottom .elementor-shape-fill{fill:#272727;}.elementor-795 .elementor-element.elementor-element-e3707c1 > .elementor-shape-bottom svg{height:100px;transform:translateX(-50%) rotateY(180deg);}.elementor-795 .elementor-element.elementor-element-ebcb18b > .elementor-element-populated{box-shadow:0px 0px 10px 2px rgba(39, 39, 39, 0.3);margin:50px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-795 .elementor-element.elementor-element-ebcb18b > .elementor-element-populated > .elementor-widget-wrap{padding:10px 10px 10px 10px;}.elementor-795 .elementor-element.elementor-element-e919bf5 .elementor-heading-title{font-weight:normal;}.elementor-795 .elementor-element.elementor-element-bce256f .elementor-spacer-inner{--spacer-size:10px;}body.elementor-page-795:not(.elementor-motion-effects-element-type-background), body.elementor-page-795 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#272727;}body.elementor-page-795{padding:0px 0px 0px 0px;}@media(max-width:1024px) and (min-width:768px){.elementor-795 .elementor-element.elementor-element-1a0703f{width:100%;}}@media(max-width:1024px){.elementor-795 .elementor-element.elementor-element-16e70e0 > .elementor-shape-bottom svg{height:75px;}.elementor-795 .elementor-element.elementor-element-46b8930{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-1a0703f.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-795 .elementor-element.elementor-element-8b2128c .elementor-heading-title{font-size:25px;}.elementor-795 .elementor-element.elementor-element-4291aa0 .elementor-heading-title{font-size:25px;}.elementor-795 .elementor-element.elementor-element-e3707c1 > .elementor-shape-bottom svg{height:75px;}.elementor-795 .elementor-element.elementor-element-e919bf5 .elementor-heading-title{font-size:25px;}}@media(max-width:767px){.elementor-795 .elementor-element.elementor-element-16e70e0 > .elementor-shape-bottom svg{height:50px;}.elementor-795 .elementor-element.elementor-element-e1d0714 > .elementor-element-populated{margin:10px 10px 10px 10px;--e-column-margin-right:10px;--e-column-margin-left:10px;}.elementor-795 .elementor-element.elementor-element-e1d0714 > .elementor-element-populated > .elementor-widget-wrap{padding:10px 10px 10px 10px;}.elementor-795 .elementor-element.elementor-element-bfe1cbe > .elementor-element-populated{margin:10px 10px 10px 10px;--e-column-margin-right:10px;--e-column-margin-left:10px;}.elementor-795 .elementor-element.elementor-element-bfe1cbe > .elementor-element-populated > .elementor-widget-wrap{padding:10px 10px 10px 10px;}.elementor-795 .elementor-element.elementor-element-36e089a{font-size:21px;line-height:1em;}.elementor-795 .elementor-element.elementor-element-46b8930{padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-1a0703f{width:100%;}.elementor-795 .elementor-element.elementor-element-1a0703f.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-795 .elementor-element.elementor-element-1a0703f > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-795 .elementor-element.elementor-element-1a0703f > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-795 .elementor-element.elementor-element-1a0703f > .elementor-element-populated > .elementor-widget-wrap{padding:10px 10px 10px 10px;}.elementor-795 .elementor-element.elementor-element-a3d5a50 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-795 .elementor-element.elementor-element-a3d5a50{width:100%;max-width:100%;}.elementor-795 .elementor-element.elementor-element-e3debaa.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-795 .elementor-element.elementor-element-e3debaa > .elementor-element-populated{margin:70px 10px 10px 10px;--e-column-margin-right:10px;--e-column-margin-left:10px;}.elementor-795 .elementor-element.elementor-element-e3debaa > .elementor-element-populated > .elementor-widget-wrap{padding:10px 10px 10px 10px;}.elementor-795 .elementor-element.elementor-element-8b2128c{text-align:center;}.elementor-795 .elementor-element.elementor-element-8b2128c .elementor-heading-title{font-size:25px;}.elementor-795 .elementor-element.elementor-element-c442f71.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-795 .elementor-element.elementor-element-c442f71 > .elementor-element-populated{margin:70px 10px 10px 10px;--e-column-margin-right:10px;--e-column-margin-left:10px;}.elementor-795 .elementor-element.elementor-element-c442f71 > .elementor-element-populated > .elementor-widget-wrap{padding:10px 10px 10px 10px;}.elementor-795 .elementor-element.elementor-element-4291aa0{text-align:center;}.elementor-795 .elementor-element.elementor-element-4291aa0 .elementor-heading-title{font-size:25px;}.elementor-795 .elementor-element.elementor-element-e3707c1 > .elementor-shape-bottom svg{height:50px;}.elementor-795 .elementor-element.elementor-element-ebcb18b.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-795 .elementor-element.elementor-element-ebcb18b > .elementor-element-populated{margin:70px 10px 10px 10px;--e-column-margin-right:10px;--e-column-margin-left:10px;}.elementor-795 .elementor-element.elementor-element-ebcb18b > .elementor-element-populated > .elementor-widget-wrap{padding:10px 10px 10px 10px;}.elementor-795 .elementor-element.elementor-element-e919bf5{text-align:center;}.elementor-795 .elementor-element.elementor-element-e919bf5 .elementor-heading-title{font-size:25px;}}/* Start custom CSS for shortcode, class: .elementor-element-a3d5a50 */.elementor-795 .elementor-element.elementor-element-a3d5a50 {
    text-align: center;
}
.elementor-795 .elementor-element.elementor-element-a3d5a50:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .woosc-btn {
        width: 100%;
    }
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-fbc803e */.elementor-795 .elementor-element.elementor-element-fbc803e {color: #272727;}

.grid-container {
  	display: grid;
	grid-gap: 0 25px;
	grid-template-columns: 1fr 1fr 1fr;
	align-content: center;
}

.grid-subcontainer {
  	display: grid;
	grid-gap: 25px 25px;
	grid-template-columns: 1fr 1fr 1fr;
	align-content: center;
}

.grid-item-1 {
	text-align: center;
}

.grid-item-2 {
	text-align: center;
	vertical-align: middle;

}

.grid-item-3 {
	text-align: center;
	vertical-align: middle;
}

.grid-item-4 {
	text-align: center;
	vertical-align: middle;
	grid-column: 1 / span 3;
	
}

.grid-item-5 {
	text-align: center;
	vertical-align: middle;
	padding-top: 30px;
}

.grid-item-6 {
	text-align: center;
	vertical-align: middle;
	padding-top: 30px;
}

.grid-item-7 {
	text-align: center;
	vertical-align: middle;
	padding-top: 30px;
}

.grid-subitem-1 {
	text-align: justify;
}

.grid-subitem-2 {
	justify-self: center

}

.grid-subitem-3 {
	text-align: justify;
	vertical-align: middle;
}

.grid-subitem-4 {
	text-align: justify;
	vertical-align: middle;
	
}

.grid-subitem-5 {
	text-align: justify;
	vertical-align: middle;
}

.grid-subitem-6 {
	text-align: justify;
	vertical-align: middle;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.grid-container {
		grid-template-columns: 1fr 1fr;
	}
	
	.grid-subcontainer {
		grid-template-columns: 1fr 1fr;
	}
	
	.grid-item-2 {
		grid-column: 1 / span 2;
		grid-row: 1 / 2;
	}
	 .grid-item-4 {
		grid-column: 1 /span 2;
		grid-row: 2 / 3;
	}
	
	.grid-subitem-2 {
	    display: none;
	}
	
	.grid-subitem-1 {
	    grid-row: 1 / 2;
	}
	
	.grid-subitem-3 {
	    grid-row: 1 / 2;
	}
	
	.grid-subitem-4 {
	    grid-column: 1 / 2;
	}
	
	.grid-subitem-5 {
	    grid-column: 2 / 3;
	}
	
	.grid-subitem-6 {
	    grid-column: 1 / 2;
	}
}

@media only screen and (max-width: 767px) {
	.grid-container {
		grid-template-columns: 1fr;
	}
	
	.grid-subcontainer {
		grid-template-columns: 1fr;
	}
	
	.grid-item-1 {
	    padding-top: 30px;
	}
	
	.grid-item-3 {
	    padding-top: 30px;
	}
	
	.grid-item-2 {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	 .grid-item-4 {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	
	.grid-subitem-4 {
	    grid-column: 1 / 2;
	}
	
	.grid-subitem-5 {
	    grid-column: 1 / 2;
	}
	
	.grid-subitem-6 {
	    grid-column: 1 / 2;
	}
	.grid-subitem-2 {
	    display: none;
	}
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-3f2b5bb */.grid-container {
  	display: grid;
	grid-gap: 0 25px;
	grid-template-columns: 1fr 1fr 1fr;
	align-content: center;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.grid-container {
		grid-template-columns: 1fr 1fr;
	}
	
	.grid-subcontainer {
		grid-template-columns: 1fr 1fr;
	}
	
    .grid-item-constant-current-text {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .grid-item-constant-current-graph {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .grid-item-pulse-current-text {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .grid-item-pulse-current-graph {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    .grid-item-power-profile-text {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    .grid-item-power-profile-table {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}

@media only screen and (max-width: 767px) {
	.grid-container {
	    grid-template-columns: 1fr;
    }
    
    .grid-subcontainer {
    	grid-template-columns: 1fr;
    }
	
    .grid-item-constant-current-text {
        padding-top: 30px;
        grid-row: 1 / 2;
    }
    
    .grid-item-constant-current-graph {
        grid-row: 2 / 3;
    }
    
    .grid-item-pulse-current-text {
        padding-top: 30px;
        grid-row: 3 / 4;
    }
    
    .grid-item-pulse-current-graph {
        grid-row: 4 / 5;
    }
    
    .grid-item-power-profile-text {
        padding-top: 30px;
        grid-row: 5 / 6;
    }
    
    .grid-item-power-profile-table {
        grid-row: 6 / 7;
    }
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-99ca687 */.elementor-795 .elementor-element.elementor-element-99ca687 {color: #272727;}/* End custom CSS */
/* Start custom CSS */.batemo_black {
	color: #272727;
}

sup {
    font-size: 11px;
}


.collapsible_orange {
   color: #ea5b0c;
   font-size: 11px;
   text-align: justify;
   padding-left: 0;
   padding-right: 0;
   margin-left: 0;
   margin-right: 0;
}

.arrowright {
   color: #ea5b0c;
}

.noarrow {
   color: #ea5b0c;
}


.collapseomatic.batemo {
background-image: url(/wp-content/uploads/2019/11/plus.png);
font-size: 11px;
background-size: 15px;
background-position: left center;
color: #ea5b0c;
padding-top: 7px;
}

.colomat-close.batemo {
background-image: url(/wp-content/uploads/2019/11/cross.png);
}



.batemo_align_right {
    text-align: right;
}

.batemo_align_left {
    text-align: left;
    padding-left: 0;
}

.batemo_justify {
    text-align: justify;
    padding-right: 25px;
}

.batemo_table_header_left {
    font-family: 'Roboto';
    text-transform: none;
    padding-left: 0;
    color: #272727;
}

.batemo_table_header_right {
    font-family: 'Roboto';
    text-transform: none;
    padding-left: 0;
    text-align: right;
    color: #272727;
}

.batemo_link_orange {
   color: #ea5b0c;
}

.batemo_link_orange:hover {
    color: #ea5b0c;
    text-decoration: underline;
    
}

.woosc-btn {
	display: inline-block;
    cursor: pointer;
	font-family: 'Big John';
	text-align: center;
	font-size: 17px;
	font-weight: 100;
	line-height: 1;
	color: #fff;
	border-color: #ea5b0c;
	background-color: #ea5b0c;
	border: none;
	padding: 15px 10px 10px 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.woosc-btn .hint--left:before,.woosc-btn .hint--left:after {
    display: none !important;
}

.btn-orange {
    display: inline-block;
    cursor: pointer;
	font-family: 'Big John';
	text-align: center;
	font-size: 17px;
	font-weight: 100;
	line-height: 1;
	color: #fff;
	border-color: #ea5b0c;
	background-color: #ea5b0c;
	border: none;
	padding: 15px 10px 10px 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5) !important;
    transition: all .3s;
    width: 100%;
}

.btn-orange:hover {
    transform: scale(1.05);
}

/* Button Grid*/
.purchase-container-4 {
    display: grid;
    grid-template-areas: 
    'data report'
    'model cell';
    gap: 10px;
}

.get-data-item-4 {
    grid-area: data;
    width: 100%;
}

.get-report-item-4 {
    grid-area: report;
    width: 100%;
}

.get-model-item-4 {
    grid-area: model;
    width: 100%;
}

.get-cell-item-4 {
    grid-area: cell;
    width: 100%;
}

.purchase-container-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'data report model';
    gap: 10px;
}

.get-data-item-3 {
    grid-area: data;
    width: 100%;
}

.get-report-item-3 {
    grid-area: report;
    width: 100%;
}

.get-model-item-3 {
    grid-area: model;
    width: 100%;
}/* End custom CSS */